.certificates-section {
  margin: 50px 70px;
  text-align: center;
}
h1 {
  font-size: 48px; 
  margin-bottom: 20px;
  color: #DF8908;
}
.certificates-title {
  margin-bottom: 30px;
}
.certificates-category {
  margin-bottom: 40px;
}
.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.certificate-link {
  display: inline-block;
  transition: transform 0.3s;
}
.certificate-link:hover {
  transform: scale(1.05); 
}
.certificate-img {
  width: 250px; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
