.footer {
  padding: 20px 10%;
  background-color: #f1f3f6;
  color: #f9f9f9;
  text-align: center;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-top-left {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  color: #333333;
}
.footer-logo {
  width: 100%;
  max-width: 150px;
}
.footer-top-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-email-input {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.user-icon {
  fill: #1e88e5;
  width: 34px;
  height: 34px;
}
.footer-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  width: 250px;
  max-width: 100%;
  border: 1px solid #ccc;
}
.footer-subscribe {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer-subscribe:hover {
  background-color: #0056b3;
  scale: 1.1;
  transition: 0.3s;
}
.footer-divider {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
}
.footer-bottom-left {
  color: #555;
}
.footer-bottom-right {
  display: flex;
  gap: 20px;
}
.footer-link {
  color: #1e88e5;
  text-decoration: none;
}
.footer-link:hover {
  scale: 0.9;
}
@media (max-width: 768px) {
  .footer {
    padding: 20px 5%;
  }
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-top-right {
    margin-top: 10px;
    justify-content: center;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom-right {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-input {
    width: 100%;
    max-width: none;
    margin: 5px 0;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
  .footer-description {
    text-align: center;
  }
}
