*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.divider {
  border: none;
  height: 2px; 
  background-color: #ccc;

  width: 100%;
}
@media (min-width: 768px) {
  .divider {
    height: 2px;

  }
}